@charset "UTF-8";
html {
  font-size: 62.5%;
}

@media (max-width: 425px) {
  html {
    font-size: 35%;
  }
}

@media (max-width: 425px) and (min-height: 732px) {
  html {
    font-size: 40%;
  }
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Reenie Beanie", "微軟正黑體";
}

*::-moz-selection {
  background: #816e4a;
  color: white;
}

*::selection {
  background: #816e4a;
  color: white;
}

#all {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.animation {
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  z-index: 10;
  text-align: center;
  background: #310c0e;
  overflow: hidden;
  -webkit-transition: 3s;
  transition: 3s;
}

.animation h1 {
  font-family: 'Noto Sans TC', sans-serif;
  color: white;
  font-size: 70px;
  text-align: center;
  line-height: 100vh;
}

.animation h1 .letter {
  display: inline-block;
  line-height: 100vh;
  font-family: 'Noto Sans TC', sans-serif;
}

@media (max-width: 700px) {
  .animation h1 {
    font-size: 50px;
  }
}

@media (max-width: 500px) {
  .animation h1 {
    font-size: 35px;
  }
}

@media (max-width: 350px) {
  .animation h1 {
    font-size: 30px;
  }
}

.animation_hide {
  opacity: 0;
  pointer-events: none;
}

@-webkit-keyframes toTransparent {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}

@keyframes toTransparent {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}

.mask_show {
  opacity: 1 !important;
  pointer-events: all !important;
}

.mask_container_bg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 4;
}

.mask {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-transition: 1s;
  transition: 1s;
  opacity: 0;
  pointer-events: none;
}

.mask .mask_container {
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 70%;
  height: 70%;
  background-image: url("../image/environment/en1.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.mask .mask_container .prev {
  width: 50%;
  height: 100%;
  position: absolute;
  z-index: 6;
  top: 0;
  left: 0;
}

.mask .mask_container .next {
  width: 50%;
  height: 100%;
  position: absolute;
  z-index: 6;
  top: 0;
  left: 50%;
}

.mask .mask_container .close_btn {
  position: absolute;
  top: 10%;
  right: 0;
  z-index: 1001;
  color: #816e4a;
  font-size: 5rem;
  font-weight: 700;
  font-family: sans-serif;
  cursor: pointer;
  -webkit-text-stroke: silver 2px;
}

.mask .mask_container .close_btn:hover {
  text-shadow: 0px 0px 5px silver, 0px -1px 5px silver, 0px -2px 5px silver,  0px 0px 5px silver, 0px 1px 5px silver, 0px 2px 5px silver,  0px 0px 5px silver, -1px 0px 5px silver, -2px 0px 5px silver,  0px 0px 5px silver, 1px 0px 5px silver, 2px 0px 5px silver;
}

.mask .mask_container .pre_btn,
.mask .mask_container .next_btn {
  position: absolute;
  top: 50%;
  opacity: .7;
}

.mask .mask_container .pre_btn:hover,
.mask .mask_container .next_btn:hover {
  opacity: 1;
  cursor: pointer;
}

.mask .mask_container .pre_btn svg .first,
.mask .mask_container .next_btn svg .first {
  -webkit-animation: arrow 2s ease-out 1s infinite alternate forwards;
          animation: arrow 2s ease-out 1s infinite alternate forwards;
}

.mask .mask_container .pre_btn svg .second,
.mask .mask_container .next_btn svg .second {
  -webkit-animation: arrow 2s ease-out 1.25s infinite alternate forwards;
          animation: arrow 2s ease-out 1.25s infinite alternate forwards;
}

.mask .mask_container .pre_btn svg .third,
.mask .mask_container .next_btn svg .third {
  -webkit-animation: arrow 2s ease-out 1.5s infinite alternate none;
          animation: arrow 2s ease-out 1.5s infinite alternate none;
}

.mask .mask_container .pre_btn {
  left: -20px;
}

.mask .mask_container .next_btn {
  right: -20px;
}

@-webkit-keyframes arrow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes arrow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.header_show {
  height: 100%;
}

header {
  width: 23.6076%;
  height: 100vh;
  background-color: #0d0c08;
  color: white;
  -webkit-transition: 1s;
  transition: 1s;
}

@media (max-width: 1023px) {
  header {
    width: 100px;
  }
}

@media (max-width: 767px) {
  header {
    position: absolute;
    width: 100%;
    height: 50px;
    z-index: 3;
    background-color: transparent;
    -webkit-transition: background-color 1s;
    transition: background-color 1s;
  }
}

header #logo {
  width: 100%;
  height: 32%;
}

@media (max-width: 1023px) {
  header #logo {
    display: none;
  }
}

header nav {
  width: 100%;
  height: 68%;
}

@media (max-width: 1023px) {
  header nav {
    width: 100px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media (max-width: 767px) {
  header nav {
    width: 100%;
    height: 50px;
    background-color: #310c0e;
  }
}

header nav .mobile_menu {
  display: none;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 0;
  top: 0;
}

header nav .mobile_menu div {
  width: 24px;
  height: 2px;
  background-color: white;
  position: absolute;
  margin: auto;
  left: 13px;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

header nav .mobile_menu .top {
  top: 17px;
}

header nav .mobile_menu .rotate45 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 24px;
}

header nav .mobile_menu .middle {
  top: 24px;
}

header nav .mobile_menu .hide {
  opacity: 0;
}

header nav .mobile_menu .bottom {
  top: 31px;
}

header nav .mobile_menu .rotateM45 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 24px;
}

@media (max-width: 767px) {
  header nav .mobile_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

header nav .nav_index {
  display: none;
}

@media (max-width: 767px) {
  header nav .nav_index {
    display: block;
    margin: auto;
    font-size: 35px;
    font-family: "Cambria";
    font-style: italic;
  }
}

header nav .nav_list_show {
  opacity: 1;
  pointer-events: all;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

header nav ul {
  display: block;
  width: 61.8%;
  margin: auto;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  -webkit-transition: 1s;
  transition: 1s;
}

@media (max-width: 1023px) {
  header nav ul {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media (max-width: 767px) {
  header nav ul {
    position: absolute;
    background-color: #310c0e;
    top: 50px;
    height: calc(100% - 50px);
    opacity: 0;
    pointer-events: none;
  }
}

header nav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 5rem;
  width: 100%;
  height: 8rem;
  white-space: nowrap;
  -webkit-transition: 1s;
  transition: 1s;
  cursor: pointer;
}

@media (max-width: 1023px) {
  header nav ul li {
    width: 80px;
    height: 100px;
    margin: auto;
  }
}

@media (max-width: 767px) {
  header nav ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header nav ul li:hover {
    background-color: darkgray;
  }
}

@media (max-height: 650px) {
  header nav ul li {
    height: 70%;
  }
}

header nav ul li a {
  display: block;
}

@media (max-width: 1023px) {
  header nav ul li a {
    display: none;
  }
}

@media (max-width: 767px) {
  header nav ul li a {
    display: block;
  }
}

header nav ul li svg {
  width: 80%;
  height: 100%;
  margin: auto;
  display: none;
}

header nav ul li svg polygon {
  fill: white;
  -webkit-transition: 1s;
  transition: 1s;
}

header nav ul li svg path {
  fill: white;
  -webkit-transition: 1s;
  transition: 1s;
}

header nav ul li svg text {
  fill: white;
  font-size: 100px;
  -webkit-transition: 1s;
  transition: 1s;
}

@media (max-width: 1023px) {
  header nav ul li svg {
    display: block;
  }
}

@media (max-width: 767px) {
  header nav ul li svg {
    display: block;
    width: 50px;
    margin: 0;
    margin-right: 1rem;
  }
}

header nav ul li + li {
  border-top: 1px solid white;
}

@media (max-width: 1023px) {
  header nav ul li + li {
    border-top: unset;
  }
}

header nav ul .active {
  color: orange;
}

header nav ul .active path {
  fill: orange;
}

header nav ul .active polygon {
  fill: orange;
}

header nav ul .active text {
  fill: orange;
}

main {
  height: 100vh;
  width: 76.3924%;
  position: relative;
}

@media (max-width: 1023px) {
  main {
    width: calc(100% - 100px);
  }
}

@media (max-width: 767px) {
  main {
    width: 100%;
  }
}

main .banner {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  -webkit-transition: 1s;
  transition: 1s;
  position: relative;
}

main .banner .banner_chef {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  background-image: url(../image/chef/chef.jpg);
  background-size: cover;
  background-position: center;
  -webkit-transition: 1s;
  transition: 1s;
}

main .banner .banner_env {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  background-image: url(../image/environment/en1.jpg);
  background-size: cover;
  background-position: center;
  -webkit-transition: .5s;
  transition: .5s;
}

main .banner .banner_swiper_container {
  width: 100%;
  height: 100%;
  -webkit-transition: 1s;
  transition: 1s;
}

main .banner .banner_swiper_container .swiper-wrapper {
  width: 100%;
  height: 100%;
}

main .banner .banner_swiper_container .swiper-wrapper .swiper-slide {
  background-position: center;
  background-size: cover;
}

main .sections_hide {
  width: 0 !important;
}

main .sections {
  width: 733px;
  height: 100%;
  position: absolute;
  overflow: unset;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-transition: 1s;
  transition: 1s;
}

@media (max-width: 1023px) {
  main .sections {
    width: 668px;
  }
}

@media (max-width: 767px) {
  main .sections {
    width: 100%;
    height: calc(100% - 50px);
    margin-top: 50px;
  }
}

main .sections .toggle_btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: -webkit-gradient(linear, left top, right top, color-stop(0, transparent), color-stop(50%, transparent), color-stop(50%, #310c0e), to(#310c0e));
  background: linear-gradient(90deg, transparent 0, transparent 50%, #310c0e 50%, #310c0e 100%);
  position: absolute;
  right: -25px;
  top: 30%;
}

@media (max-width: 1023px) {
  main .sections .toggle_btn {
    right: 5%;
    z-index: 10;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
  }
}

main .sections .toggle_btn .arrow {
  margin-left: auto;
  margin-right: 5px;
  width: 30%;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

main .sections .toggle_btn .arrow_trigger {
  -webkit-transform: rotate(360deg) !important;
          transform: rotate(360deg) !important;
}

main .sections .section_swiper_wrapper {
  width: 100%;
  height: 100%;
}

main .sections .section_swiper_wrapper .section_swiper_slide {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  main .sections .section_swiper_wrapper .section_swiper_slide {
    height: 100%;
  }
}

main .sections .section_swiper_wrapper .section_swiper_slide .section_hide {
  display: none !important;
}

main .sections .section_swiper_wrapper .section_swiper_slide section {
  width: 90%;
  height: 90%;
  border: 1px solid #816e4a;
}

main .sections .section_swiper_wrapper .section_swiper_slide section .title {
  width: 100%;
  height: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  main .sections .section_swiper_wrapper .section_swiper_slide section .title {
    display: none;
  }
}

main .sections .section_swiper_wrapper .section_swiper_slide section .title h2 {
  color: #816e4a;
  font-size: 6.2rem;
  font-family: "Cambria";
  font-style: italic;
}

@media (max-width: 425px) and (max-height: 732px) {
  main .sections .section_swiper_wrapper .section_swiper_slide section .title {
    height: 20%;
  }
}

main .sections .section_swiper_wrapper .section_swiper_slide section .line {
  display: block;
  width: 80%;
  height: 1px;
  background-color: #816e4a;
  margin: 1rem auto;
}

@media (max-width: 767px) {
  main .sections .section_swiper_wrapper .section_swiper_slide section .line {
    display: none;
  }
}

main .sections .section_swiper_wrapper .section_swiper_slide section .content {
  width: 68.67%;
  height: 70%;
}

@media (max-width: 767px) {
  main .sections .section_swiper_wrapper .section_swiper_slide section .content {
    height: 100% !important;
  }
}

main .sections .section_swiper_wrapper .section_swiper_slide section .content h3 {
  font-size: 2.5rem;
  font-size: 2rem;
  font-family: "微軟正黑體";
  text-align: justify;
  color: #816e4a;
}

main .sections .section_swiper_wrapper .section_swiper_slide section .content p {
  color: #816e4a;
  font-size: 2rem;
  line-height: 4rem;
  font-family: "微軟正黑體";
  text-align: justify;
  color: #816e4a;
  margin-bottom: 0;
  position: relative;
}

main .sections .section_swiper_wrapper .section_swiper_slide section .content span {
  margin: 4px;
  font-family: "Reenie Beanie", cursive !important;
}

#Brand .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60%;
  margin: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#Brand .content p span {
  font-size: 3rem;
}

@media (max-width: 425px) {
  #Brand .content p {
    font-size: 3rem;
  }
}

#Menu .line {
  margin: auto;
}

@media (max-width: 425px) and (min-height: 732px) {
  #Menu .line {
    margin: 0 auto;
  }
}

#Menu .content {
  width: 100%;
  height: 70%;
}

@media (max-width: 767px) {
  #Menu .content {
    height: 100%;
  }
}

#Menu .content .menu_swiper_container {
  width: 100%;
  height: 100%;
}

#Menu .content .menu_swiper_container .swiper-slide {
  width: 100%;
  height: 100%;
  position: relative;
}

#Menu .content .menu_swiper_container .swiper-slide h3 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

@media (max-width: 767px) {
  #Menu .content .menu_swiper_container .swiper-slide h3 {
    font-size: 6rem;
  }
}

@media (max-width: 360px) {
  #Menu .content .menu_swiper_container .swiper-slide h3 {
    font-size: 5rem;
    white-space: nowrap;
  }
}

#Menu .content .menu_swiper_container .swiper-slide p {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 400;
  text-align: center;
}

@media (max-width: 767px) {
  #Menu .content .menu_swiper_container .swiper-slide p {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

@media (max-width: 321px) {
  #Menu .content .menu_swiper_container .swiper-slide p {
    line-height: 2rem;
  }
}

#Menu .content .menu_swiper_container .swiper-slide .item {
  font-weight: 600;
  font-family: "微軟正黑體" !important;
  margin-top: .5rem;
}

@media (max-width: 767px) {
  #Menu .content .menu_swiper_container .swiper-slide .item {
    margin-top: 1.5rem;
  }
}

#Menu .content .menu_swiper_container .swiper-slide .item span {
  font-weight: 1000;
}

#Menu .content .menu_swiper_container .swiper-slide .note {
  font-weight: 1000;
  font-size: .8rem;
  position: absolute;
  bottom: .2rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  white-space: nowrap;
}

@media (max-width: 425px) {
  #Menu .content .menu_swiper_container .swiper-slide .note {
    font-size: .8rem;
    white-space: normal;
    width: 260px;
  }
}

@media (max-width: 425px) and (min-height: 732px) {
  #Menu .content .menu_swiper_container .swiper-slide .note {
    font-size: .8rem;
    white-space: normal;
    width: 260px;
  }
}

@media (max-width: 320px) {
  #Menu .content .menu_swiper_container .swiper-slide .note {
    width: 228px;
  }
}

#Environment .line {
  margin-bottom: 6rem;
}

#Environment .content {
  margin-top: 2rem;
  width: 80%;
  margin: 2rem auto;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
}

@media (max-width: 350px) {
  #Environment .content {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    margin-left: auto;
  }
}

#Environment .content .content_pic {
  width: 33%;
  height: 120px;
  margin-bottom: 15px;
  min-width: 120px;
}

@media (max-width: 600px) {
  #Environment .content .content_pic {
    width: 50%;
  }
}

@media (max-width: 350px) {
  #Environment .content .content_pic {
    margin: 0;
    height: auto;
  }
}

#Environment .content .content_pic .content_pic_inner {
  width: 90%;
  height: 100px;
  margin: auto;
  border: 1px solid #816e4a;
}

@media (max-width: 425px) {
  #Environment .content .content_pic .content_pic_inner {
    height: 100%;
  }
}

@media (max-width: 350px) {
  #Environment .content .content_pic .content_pic_inner {
    margin: 0;
    margin-left: 5px;
  }
}

#Environment .content .content_pic .content_pic_inner .env {
  width: 100%;
  height: 100%;
}

#Environment .content .content_pic .content_pic_inner .env img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#Environment .content .content_pic .content_pic_inner .env img:hover {
  border: 2px #816e4a solid;
}

@media screen {
  #Chef {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
  }
}

#Chef .title {
  height: 20%;
}

@media (max-width: 425px) and (min-height: 732px) {
  #Chef .title {
    height: 15%;
  }
}

@media (max-width: 376px) {
  #Chef .title {
    height: 8%;
    margin-top: 0;
    margin-bottom: -2rem;
  }
}

@media (max-width: 360px) and (max-height: 640px) {
  #Chef .title {
    margin-bottom: -1rem;
  }
}

@media (max-width: 767px) {
  #Chef .title {
    display: none;
  }
}

#Chef .line {
  margin: 1rem auto;
}

@media (min-height: 1000px) {
  #Chef .line {
    margin: 2.5rem auto !important;
  }
}

@media (min-height: 900px) {
  #Chef .line {
    margin: 1.8rem auto !important;
  }
}

@media (max-width: 767px) {
  #Chef .line2 {
    display: block;
    margin: 0 auto;
  }
}

#Chef .content {
  margin: auto;
  padding-left: 40px;
  display: block;
  height: auto;
}

@media (max-width: 767px) {
  #Chef .content {
    height: auto !important;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

#Chef .content h3 {
  font-size: 2.3rem;
  position: relative;
}

#Chef .content h3 span.chef_name {
  font-size: 2.5rem;
  font-family: "微軟正黑體" !important;
  margin: 0 !important;
}

#Chef .content p {
  font-size: 2rem;
  line-height: 2rem;
}

#Chef .content .level1 {
  font-size: 2.2rem;
  line-height: 2.8rem;
  margin-bottom: 1.5rem !important;
}

#Chef .content .level2 {
  font-size: 1.2rem;
  line-height: 2rem;
  letter-spacing: 1px;
  margin-bottom: 1.5rem !important;
}

@media (max-width: 360px) and (max-height: 640px) {
  #Chef .content .level2 {
    font-size: .5rem;
  }
}

@media (max-width: 320px) {
  #Chef .content .level2 {
    font-size: 1rem;
  }
}

#Chef .content .level3 {
  font-size: 1.2rem;
  line-height: 1.8rem;
  letter-spacing: 1px;
  margin-bottom: 8px !important;
}

@media (max-width: 425px) and (max-height: 732px) {
  #Chef .content .level3 {
    font-size: .8rem;
  }
}

@media (max-width: 360px) and (max-height: 640px) {
  #Chef .content .level3 {
    font-size: .5rem;
  }
}

#Chef .content .time_line::before {
  color: #816e4a;
  position: absolute;
  left: -40px;
  font-size: 2rem;
  font-family: "Reenie Beanie", "微軟正黑體";
}

#Chef .content .year_2000::before {
  content: '2000';
}

#Chef .content .year_2006::before {
  content: '2006';
}

#Chef .content .year_2006To2008::before {
  content: '2006';
  top: 1rem;
}

#Chef .content .year_2006To2008::after {
  content: '2008';
  color: #816e4a;
  position: absolute;
  left: -40px;
  bottom: 1rem;
  font-size: 2rem;
  font-family: "Reenie Beanie", cursive;
}

#Chef .content .year_2009::before {
  content: '2009';
}

#Chef .content .content_top {
  -ms-flex-item-align: start;
      align-self: flex-start;
  position: relative;
}

#Chef .content .content_top::before {
  content: '';
  border: 1px solid #816e4a;
  background: #816e4a;
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  position: absolute;
  left: -30px;
  top: 10px;
}

#Chef .content .content_top::after {
  content: '';
  display: block;
  width: 1px;
  height: 85%;
  background: #816e4a;
  position: absolute;
  left: -27.5px;
  top: 25px;
}

#Chef .content .content_top:nth-child(1)::after {
  top: 18px;
}

#Chef .content .content_top:last-child::after {
  background: transparent;
}

#News .line {
  margin: 2rem auto;
}

#News .content {
  width: 80%;
  margin: auto;
  height: auto;
  position: relative;
}

@media (max-width: 767px) {
  #News .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

#News .content .news_index {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-transition: .5s;
  transition: .5s;
}

@media (max-width: 767px) {
  #News .content .news_index {
    height: auto;
  }
}

#News .content .news_index p {
  font-size: 1.4rem;
  line-height: 3rem;
  border-bottom: dashed 1px #816e4a;
  cursor: pointer;
}

#News .content .news_index .time {
  font-family: "Reenie Beanie", "微軟正黑體";
  font-size: 2.5rem;
  margin-left: .8rem;
}

#News .content .news_details {
  position: absolute;
  top: 10%;
  width: 100%;
  height: auto;
  -webkit-transition: .5s;
  transition: .5s;
  opacity: 0;
  pointer-events: none;
}

#News .content .news_details p {
  font-size: 2.5rem;
}

#News .content .news_details .time {
  color: #816e4a;
  font-size: 3rem;
  font-family: "Reenie Beanie", cursive;
}

#News .content .news_details .back {
  position: absolute;
  right: 0;
  bottom: -1rem;
  cursor: pointer;
  opacity: 1;
  -webkit-animation: backAnimation 2s ease-in-out 0s infinite alternate both;
          animation: backAnimation 2s ease-in-out 0s infinite alternate both;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

#News .content .news_details .back:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

#News .content .news_details .back svg {
  fill: #816e4a !important;
}

@media (max-width: 767px) {
  #News .content .news_details .back {
    bottom: -20px;
  }
}

@media (max-width: 320px) {
  #News .content .news_details .back {
    bottom: -50px;
  }
}

@-webkit-keyframes backAnimation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes backAnimation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

#ContactUs .content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#ContactUs .content p {
  text-align: center;
  line-height: 5rem;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

@media (max-width: 425px) {
  #ContactUs .content p {
    font-size: 3rem;
  }
}
/*# sourceMappingURL=style.css.map */